/*font-family: 'Mountains of Christmas', cursive;*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: upper-roman;
    font-family: 'Mountains of Christmas', cursive;
}

h1 {
    text-align: center;
    font-style: italic;
    background-color: #f79400;
    height: 52px;
    color: #ebeaea;
    text-decoration: overline;
}
h2 {
    text-align: center;
    font-style: italic;
    text-decoration: underline;
}
span {
    color: #704d2d;
    
}
.card {
    margin-left: 30%;
    margin-right: 30%;
    background-color: #f2b966;
    font-size: 18px;
    line-height: 160%;
}
.card h5 {
    text-decoration: underline;
}
.akan {
    margin-right: 5%;
    margin-left: 5%;
}
h4 {
    
}
.names {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    line-height: 200%;
    

}
.names ul {
    font-size: 18px;
}
.akan img {
    float: right;
}